/*----- Основные цвета -----*/
@black: #000000;
@white: #ffffff;
@green:#63d1bb;
@dark-green: #56c3b2;
@grey: #444444;
@dark-grey: #231f20;
@light-grey: #f1f1f1;
@opacity-grey: rgba(225, 225, 225, 0.3);
@border-grey: #e5e5e5;
@border-lightgrey: #ececec;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

// расширение внутреннего блока до ширины родительского, за падинги
.wide {
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
}
