.about {
  padding: 30px 30px 0;
  margin-bottom: 58px;
}

.about__title {
  margin-bottom: 28px;
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @black;
  padding-top: 54px;
  background-repeat: no-repeat;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &--flower {
    background-image: url("../../img/icon-1.svg");
    background-size: 33px 38px;
  }

  &--style {
    background-image: url("../../img/icon-2.svg");
    background-size: 47px 27px;
  }

  &--like {
    background-image: url("../../img/icon-3.svg");
    background-size: 34px 27px;
  }

  &--ball {
    background-image: url("../../img/icon-4.svg");
    background-size: 35px 34px;
  }

  &--rocket {
    background-image: url("../../img/icon-5.svg");
    background-size: 55px 23px;
  }

  &--box {
    background-image: url("../../img/icon-6.svg");
    background-size: 33px 32px;
  }
}
