.about {
  padding-top: 30px;
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
    margin-left: 175px;
  }
}

.about__title {
  margin-bottom: 28px;
  .title();

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.about__list {
  .reset-list();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    gap: 85px;
  }
}

.about__item-block {
  @media (min-width: @tablet-width) {
    min-width: 334px;
  }
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @black;
  padding-top: 54px;
  background-repeat: no-repeat;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &--flower {
    background-image: url("../img/icon-1.svg");
    background-size: 33px 38px;
  }

  &--style {
    background-image: url("../img/icon-2.svg");
    background-size: 47px 27px;
  }

  &--like {
    background-image: url("../img/icon-3.svg");
    background-size: 34px 27px;
  }

  &--ball {
    background-image: url("../img/icon-4.svg");
    background-size: 35px 34px;
  }

  &--rocket {
    background-image: url("../img/icon-5.svg");
    background-size: 55px 23px;
  }

  &--box {
    background-image: url("../img/icon-6.svg");
    background-size: 33px 32px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }
}
