.button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 70px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: @grey;
  border: 2px solid @grey;

  &--green {
    color: @white;
    border-color: transparent;
    background-color: @green;
    font-size: 17px;
    line-height: 16px;
  }
}
