.catalog {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }
}

.catalog__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.catalog__title {
  .title();
  font-size: 27px;
  margin-bottom: 0;
  text-align: center;
}

.catalog__title-wrapper {
  background-color: @light-grey;
  padding-top: 74px;
  padding-bottom: 40px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
    padding-top: 36px;
    padding-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 131px;
    padding-bottom: 79px;
  }
}
