.contacts {
  margin-bottom: 39px;
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    margin-top: 68px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
    margin-top: 71px;
    display: grid;
    grid-template-columns: 175px 1fr 527px;
    grid-template-rows: 457px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contacts__wrapper {
  margin-bottom: 62px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    grid-row: 1/2;
    grid-column: 2/3;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__title {
  .title();
  margin-bottom: 28px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;

    &::after {
      content: "";
      display: inline-block;
      background-image: url("../img/flag.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      position: absolute;
      top: -30px;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;

    &::after {
      left: -110px;
      top: -20px;
    }
  }
}

.contacts__list {
  margin-bottom: 62px;
  .reset-list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__item {
  display: flex;
  font-size: 14px;
  line-height: 30px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.contacts__sign {
  width: 76px;

  @media (min-width: @tablet-width) {
    width: 81px;
  }
}

.contacts__value {
  margin-left: 0;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 140%;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    padding-bottom: 60%;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    margin-bottom: 0;
    padding-bottom: 85%;
  }
}

.contacts__button {
  padding-right: 38px;
  padding-left: 38px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }
}

.contacts__button-wrapper {
  @media (min-width: @desktop-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 230px;
  }
}
