.featured {
  margin-bottom: 42px;
}

.featured__title {
  margin-bottom: 3px;
}

.featured__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @green;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}

.featured__text {
  margin: 0;
  margin-bottom: 21px;
}

.featured__list {
  margin: 0;
  margin-bottom: 28px;
}

.featured__list-wrap {
  display: flex;
  line-height: 20px;
  width: 100%;
  padding: 7px 0 12px;
  border-bottom: solid 1px @border-lightgrey;
}

.featured__value {
  margin-left: 0;
}

.featured__sign {
  width: 98px;
}

.featured__img {
  display: block;
  margin-bottom: 25px;
}

.featured__price {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
