.fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.fieldset__list {
  .reset-list();
}

.fieldset__legend {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @green;
  padding: 0;

  &::after {
    flex-grow: 1;
    border-bottom: 1px solid @green;
    content: "";
    margin-left: 17px;
  }

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--name {
    margin-bottom: 29px;
  }
}

.fieldset__item {
  &--radio:not(:last-child) {
    margin-bottom: 11px;
  }

  &--checkbox:not(:last-child) {
    margin-bottom: 23px;
  }
}

