.footer {
  background-color: @light-grey;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.footer__social {
  padding-top: 25px;
  padding-bottom: 32px;
  border-bottom: solid 1px @border-grey;
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 23px;
  align-self: center;
}
