.name {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: solid 2px @black;

  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.name__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 17px;
}

.name__input {
  font-size: 17px;
  line-height: 18px;
  padding: 0;
  border: none;
  color: #b3b3b3;
}
