.navigation__top-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 18px;
  box-shadow: inset 0 1px 0 @border-lightgrey, inset 0 -1px 0 @border-lightgrey;
}

.navigation__logo {
  grid-column: 2/3;
}

.navigation__toggle {
  grid-column: 3/4;
  justify-self: end;
}

.navigation__list {
  // display: none;
  display: flex;
  flex-direction: column;


  &--open {
    display: flex;  // модификатор для раскрытия меню
  }
}
