.navigation {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }

  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navigation__top-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 18px;
  box-shadow: inset 0 1px 0 @border-lightgrey, inset 0 -1px 0 @border-lightgrey;

  @media (min-width: 768px) {
    padding-bottom: 20px;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1150px) {
    display: block;
    padding-top: 9px;
    padding-bottom: 7px;
    order: 2;
  }
}

.navigation__logo {
  grid-column: 2/3;

  @media (min-width: 768px) {
    grid-column: 1/2;
  }
}

.navigation__toggle {
  grid-column: 3/4;
  justify-self: end;

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation__list {
  // display: none;
  display: flex;
  flex-direction: column;

  &.site-list-add {
    display: none;
  }


  &--open {
    display: flex;  // модификатор для раскрытия меню
  }

  @media (min-width: 768px) {
    flex-direction: row;

    &.site-list {
      order: 2;
    }
  }

  @media (min-width: 1150px) {
    &.user-list {
      order: 3;
    }

    &.site-list {
      order: 1;
    }

    &.site-list-add {
      display: flex;
      order: 4;
    }
  }
}

.navigation__info {
  display: none;

  @media (min-width: 768px) {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    align-self: center;
    justify-self: end;
  }

  @media (min-width: 1150px) {
    grid-column: 3/4;
  }
}
