.navigation {
  &--nojs {
    & .navigation__toggle {
      display: none;
    }

    & .site-list,
    & .user-list {
      position: static;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 454px  1fr 400px;
  }
}

.navigation__top-menu {
  background-color: @white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 22px 30px 18px 30px;
  border-bottom: 1px solid @border-lightgrey;

  @media (min-width: @tablet-width) {
    padding: 25px 0 22px 50px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    order: 2;
  }
}

.navigation__logo {
  grid-column: 2/3;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: @desktop-width) {
    padding-left: 45px;
  }
}

.navigation__toggle {
  grid-column: 3/4;
  justify-self: end;
  border: none;
  background-image: url("../img/menu.svg");
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 14px;
  cursor: pointer;

  &--closed {
    background-image: url("../img/menu-close.svg");
    width: 21px;
    height: 20px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation__list {
  &--closed {
    display: none;
  }

  &--opened {
    width: 100%;
    display: flex;  // модификатор для раскрытия меню
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: @white;

    &.site-list {
      top: 80px;
      left: 0;
    }

    &.user-list {
      left: 0;
      top: 239px;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.site-list {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    &.user-list {
      order: 3;
    }

    &.site-list {
      order: 1;
    }
  }
}

.navigation__info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    align-self: center;
    justify-self: end;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    align-self: center;
    padding-right: 50px;
  }
}
