.order {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.order__title {
  .title();
  font-size: 27px;
  padding-top: 74px;
  padding-bottom: 74px;
  background-color: @light-grey;
  text-align: center;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    padding-top: 101px;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 98px;
    padding-top: 102px;
    padding-bottom: 96px;
  }
}

.order__subtitle {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
    margin: 0 auto 63px;
  }
}

.order-form__label {
  display: flex;
  align-items: center;
  color: @green;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    flex-grow: 1;
    border-bottom: 1px solid @green;
    content: "";
    margin-left: 18px;
  }

  &--tel::after {
    margin-left: 28px;
  }

  &--dop {
    margin-bottom: 23px;
  }

  @media (min-width: @tablet-width) {
    width: 170px;

    &::after {
      display: none;
    }

    &--dop {
      margin-bottom: 0;
    }
  }
}


.order-form__input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  padding: 16px 0 18px;
  border: none;
  color: @placeholder-color;

  @media (min-width: @tablet-width) {
    width: 450px;
    background-color: @light-grey;
    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.order-form__icon {
  &::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    align-items: center;
  }

  &--tel::after {
    background-image: url("../img/phone.svg");
    width: 25px;
    height: 24px;
  }

  &--email::after {
    background-image: url("../img/mail.svg");
    width: 32px;
    height: 21px;
  }
}

.order-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  border-bottom: solid 2px @black;

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.order-form__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  &--tel {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--email {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--dop {
    border: none;
  }


  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;

    &--tel {
      padding-top: 50px;
      padding-bottom: 24px;
      background-color: @light-grey;
    }

    &--email {
      padding-bottom: 50px;
      margin-bottom: 50px;
      background-color: @light-grey;
    }

    &--dop {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 53px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 100px;
    padding-right: 175px;

    &--dop {
      margin-bottom: 49px;
      padding-left: 50px;
      padding-right: 125px;
    }
  }
}

.order-form__textarea {
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  color: #b3b3b3;
  font-family: inherit;
  border: solid 2px @grey;
  text-align: start;

  @media (min-width: @tablet-width) {
    width: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.order-form__button-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 225px;
    padding-right: 125px;
  }
}

.order-form__comment {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 30px;

  &::before {
    content: "*";
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.order-form__button {
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  padding: 18px 24px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
