.order {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 55px;
}

.order__title {
  font-size: 27px;
  padding-top: 74px;
  padding-bottom: 74px;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  background-color: @light-grey;
  color: @black;
  text-align: center;
  margin-bottom: 17px;
}

.order__subtitle {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 29px;
}

.order-form__label {
  color: @green;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.order-form__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.order-form__textarea {
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  color: #b3b3b3;
  font-family: inherit;
}

.order-form__comment {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}

.order-form__button {
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  padding: 18px 37px;
  background-color: transparent;
}
