.product {
  &:hover {
    & .product__info {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    & .product__info {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: minmax(334px, 1fr) minmax(292px, 1fr);
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.product__img {
  display: block;
  max-width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__link {
  display: block;
  text-decoration: none;
  color: @black;

  &:hover .product__name {
    opacity: 0.6;
  }

  &:active .product__name {
    opacity: 0.3;
  }
}

.product__info {
  padding: 29px 27px 25px;
  border: 1px solid @border-lightgrey;

  @media (min-width: @tablet-width) {
    padding: 28px 32px 22px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 27px 26px 25px 28px;
    min-height: 197px;
  }
}

.product__description {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.product__name {
  max-width: 200px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    max-width: 240px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 6px;
  }
}

.product__size {
  font-size: 13px;
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.product__price-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  border-top: 1px solid @border-lightgrey;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.product__basket {
  border: none;
  background-color: @white;
  cursor: pointer;
  padding: 0;
  fill: fade(@black, 30%);

  &:hover {
    fill: @green;
  }

  &:active {
    fill: fade(@green, 30%);
  }

  @media (min-width: @desktop-width) {
    padding-right: 6px;
  }
}

.product__cart {
  path {
    fill: fade(@black, 30%);
  }

  &:hover {
    path {
      fill: @green;
    }
  }

  &:active {
    path {
      fill: fade(@green, 30%);
    }
  }
}
