.reviews {
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
  }
}

.reviews__grid {
  @media (min-width: @tablet-width) {
    background-image: url("../img/review.png");
    background-repeat: no-repeat;
    padding-top: 82px;
    padding-bottom: 47px;
    display: grid;
    grid-template-columns: 1fr 175px;
    row-gap: 38px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 78px 0 96px 175px;
  }
}

.reviews__title {
  margin-bottom: 14px;
  .title();

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__slider {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    grid-column: 1/-1;
    margin-bottom: 0;
  }
}

.reviews__button {
  @media (min-width: @tablet-width) {
    width: 175px;
    padding: 16px 26px;
    font-size: 17px;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
