.site-list {
  background-color: @white;
  .reset-list();

  @media (max-width: 767px) {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    background-color: #f8f8f8;
  }

  @media (min-width: @desktop-width) {
    background-color: @white;
    border-bottom: 1px solid @border-lightgrey;

    &::before {
      content: "";
      background-color: @white;
      width: calc(50vw - 525px);
      height: 88px;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: 1px solid @border-lightgrey;
    }
  }
}

.site-list__item {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  border-top: 1px solid @border-lightgrey;

  @media (min-width: @tablet-width) {
    width: auto;
    border: none;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 184px;
    margin: 0;

    &:not(:last-child) {
      border-right: 1px solid @border-lightgrey;
    }

    &.site-list__item--add {
      border: none;
    }
  }
}

.site-list__link {
  display: block;
  padding: 28px 8px 27px 45px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  color: @black;
  text-align: start;

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
    width: 167px;
    padding: 20px 20px 20px 0;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
    padding: 32px 0 31px;
    height: 100%;

    &--add {
      font-size: 15px;
      padding: 19px 0 0;
      background-color: #f8f8f8;
      border: none;
    }
  }
}
