.site-list-add {
  .reset-list();
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    order: 4;
    column-gap: 36px;
  }
}

.site-list-add__item {
  &:first-child {
    width: 184px;
  }
}


.site-list-add__link {
  display: block;
  text-decoration: none;
  color: @black;
  font-weight: 700;
  padding: 20px 0;

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

