.site-list {
  .reset-list();
  grid-column: 1/-1;
}

.site-list__item {
  box-shadow: 0 1px 0 @border-lightgrey;
}

.site-list__link {
  display: block;
  padding: 28px 8px 27px 45px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  color: @black;
  text-align: start;
}
