
.slider__content {
  margin: 0;
}

.slider__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 33px;
}

.slider__author {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 30px;
}
