.user-list {
  .reset-list();

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.user-list__item {
  border-bottom: solid 1px @border-lightgrey;

  @media (min-width: @tablet-width) {
    width: 167px;
  }
}

.user-list__link {
  display: block;
  padding: 28px 8px 27px 25px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  color: @black;
  text-align: start;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    padding: 20px 20px 20px 0;
  }
}
