.user-list {
  .reset-list();
  grid-column: 1/-1;
}

.user-list__item {
  border-bottom: solid 1px @border-lightgrey;
}

.user-list__link {
  display: block;
  padding: 28px 8px 27px 25px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  color: @black;
  text-align: start;
}
