.video {
  margin-bottom: 58px;
}

.video-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid @border-lightgrey;
  padding: 21px 0 32px;
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 25px;
  padding-left: 90px;
}

.video__text {
  max-width: 200px;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 41px;
}

.video__link {
  line-height: 16px;
  padding: 17px 20px 16px 18px;
}

.video__wrap {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  background-image: url("../img/video-mobile.jpg");
  z-index: 1;
}

.video__video {
  opacity: 0;
}

.video__button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100px;
  height: 77px;
  border: none;
}
