.video {
  margin-bottom: 56px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}

.video__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid @border-lightgrey;
  padding: 21px 0 32px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 288px;
    grid-template-rows: auto auto 1fr;
    column-gap: 80px;
    position: relative;
  }
}

.video__title {
  .title();
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 25px;
  padding-left: 90px;
  position: relative;
  width: 260px;

  &::before {
    content: "";
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 22px;
    position: absolute;
    left: 32px;
    top: 12px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-left: 66px;
    margin-bottom: 24px;
    width: 584px;

    &::before {
      left: 0;
      top: -2px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 98px;
    margin-bottom: 0;
    max-width: 200px;

    &::before {
      left: 0;
      top: 49px;
    }
  }
}

.video__text {
  width: 200px;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    width: 252px;
    margin-bottom: 51px;
    padding-left: 0;
    padding-top: 28px;
  }
}

.video__link {
  line-height: 16px;
  padding: 16px 18px 16px 18px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 230px;
    margin-bottom: 60px;
  }
}

.video__wrap {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }

  @media (min-width: @tablet-width) {
    order: -1;
    margin-bottom: 42px;
    background-image: url("../img/video-tablet.jpg");
    background-size: 668px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    grid-row: 1/-1;
    background-size: cover;
  }
}

.video__video {
  opacity: 0;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    grid-row: 1/-1;
    width: 683px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100px;
  height: 77px;
  border: none;
  background-image: url("../../img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;

  &:hover {
    width: 100px * 1.2;
    height: 77px * 1.2;
    transform: translate(50%, -50%) scale(1.2);
  }

  &:focus {
    width: 100px * 1.2;
    height: 77px * 1.2;
    transform: translate(50%, -50%) scale(1.2);
    outline: none;
  }

  &:active {
    transform: translate(50%, -50%) scale(0.8);
    opacity: 0.8;
  }
}
